@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);

*
{
	font-family: 'PT Sans Narrow', 'sans-serif';
}

#recaptcha_table
{
	margin: auto !important;
}

iframe:last-child
{
	display: none;
}

html
{
	height: 100%;
}

body
{
	min-width: 990px;

	background: #f1f1f1;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: 'PT Sans Narrow', 'sans-serif';
}

input
{
	outline: 0px;
}

input::-moz-focus-inner
{
	border: 0px;
}

input[type="button"], button
{
	min-height: 55px;
	background: #38c89c;
	border-radius: 3px;
	border: 0px solid transparent;
	padding: 10px;
	padding-left: 80px;
	padding-right: 80px;
	font-size: 20px;
	font-weight: bold;
	color: #effbf7;
	border-bottom: 6px solid #2DA07D;
	outline: none;
	cursor: pointer;
	
	transition: background 0.4s ease, border-bottom 0.1s linear;
	-o-transition: background 0.4s ease, border-bottom 0.1s linear;
	-moz-transition: background 0.4s ease, border-bottom 0.1s linear;
	-webkit-transition: background 0.4s ease, border-bottom 0.1s linear;
	
	outline: 0px;
}

input[type="button"]:hover
{
	background: #4CCEA6;
}

input[type="button"]:active:not([disabled])
{
	border-bottom: 0px solid #2DA07D;
}

a
{
	color: #32B48C !important;
	text-decoration: none;
}

/*************************************************************************************/

#section-1
{
	background: url("../images/stripe.png"),
					linear-gradient(rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%),
					url('../images/blur.png') 0px 0px/100% 100% no-repeat;
	background: url("../images/stripe.png"),
					-moz-linear-gradient(rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%),
					url('../images/blur.png') 0px 0px/100% 100% no-repeat;
	background: url("../images/stripe.png"),
					-webkit-linear-gradient(rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%),
					url('../images/blur.png') 0px 0px/100% 100% no-repeat;
	background: url("../images/stripe.png"),
					-o-linear-gradient(rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%),
					url('../images/blur.png') 0px 0px/100% 100% no-repeat;
					
	background-attachment:fixed;
	_background: url('../images/square_bg.png');
	_background: #125b85;
	width: 100%;
	height: 100%;
}

#section-1 tr td
{
	text-align: center;
	color: #dadada;
}

.section-1-content
{
	width: 100%;
}

.title
{
	color: #fff !important;
	text-shadow: 0px 0px 10px #ddd;
	font-size: 80px;
	text-align: right !important;
	padding-right: 30px;
}

.caption
{
	color: #fff !important;
	text-shadow: 0px 0px 10px #ddd;
	font-size: 20px;
	text-align: right !important;
	padding-right: 80px;
	padding-bottom: 20px;
	_border-bottom: 2px dotted #fff;
}

#XrateVideo
{
	width: 49%;
	margin-left: 1%;
	_height: auto;
	_border: 5px solid #333;
	border-radius: 5px;
	_box-shadow: 0px 0px 25px -5px #ddd,
				0px 0px 15px #000 inset;
	margin-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	float: left;
	_border-right: 2px dotted #fff;
	_border: 1px solid;
}

#description
{
	width: 49%;
	float: left;
	padding: 50px;
	_border: 1px solid;
	text-align: left;
	font-size: 20px;
	color: #fff;
}
/*************************************************************************************/
/*************************************************************************************/

#section-contact-us
{
	padding-top: 70px;
	padding-bottom: 40px;
	background: url("../images/grid.jpg");
}

#section-contact-us #contact-label
{
	font-size: 30px;
	color: #5f5f5f;
	text-align: center;
	margin-bottom: 25px;
}

#section-contact-us .fa
{
	min-width: 50px;
	margin-right: 20px;
	text-align: center;
	font-size: 35px;
	vertical-align: middle;
	color: #38c89c;
}

#section-contact-us #contact-details, #section-contact-us #contact-form
{
	float: left;
	text-align: left;
	color: #5f5f5f;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	font-size: 15px;
}

#section-contact-us #contact-details
{
	width: 35%;
	margin-left: 7.5%;
	color: #32B48C;
	font-size: 17px;
}

#section-contact-us #contact-form
{
	width: 50%;
}

#section-contact-us #contact-form .contact-form-input
{
	width: 80%;
	margin-left: 10%;
	margin-bottom: 10px;
	padding: 8px;
	font-family: inherit;
	color: #3f3f3f;
	font-size: 15px;
	border: 2px solid transparent;
	border-bottom-color: #38c89c;
	background: transparent;
	outline: none;
}

#section-contact-us #contact-form textarea.contact-form-input
{
	resize: none;
}

#section-contact-us #contact-form #contact-us-btn
{
	width: 80%;
	margin-left: 10%;
}

/*************************************************************************************/
